<!DOCTYPE html>
<html>
<head>
  <title>Subscribem</title>
  <%= stylesheet_link_tag    "subscribem/application", media: "all" %>
  <%= javascript_include_tag "subscribem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |k,v| -%>
  <div class='flash <%= k %>'><%= v %> </div>
<% end -%>

<%= render :partial => "subscribem/shared/login" %>

<%= yield %>

</body>
</html>
