<h2>Sign in</h2>

<p><%= link_to "New User?", sign_up_url %></p>

<%= form_for @user, :url => sessions_url do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Sign in" %>
  </p>
<% end -%>