<p>
  <%= user.label :email %> <br />
  <%= user.email_field :email %> <br />
</p>
<p>
  <%= user.label :password %> <br />
  <%= user.password_field :password %> <br />
</p>
<p>
  <%= user.label :password_confirmation %> <br />
  <%= user.password_field :password_confirmation %> <br />
</p>
